html{
	height: 500px;
}
body{
	padding: 0;
	margin:0;
     font-family: 'Fjalla One', sans-serif;
	background: linear-gradient(#fff,#fefefe,#eaeaea);

}
#background1{
  
  background-image: url("catsbg.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}
.container {
 position: relative;
  
}


.cats{
	max-width: 990px;
	background: rgba(0,0,0,0.10);
	height: 300px;
	margin: 40px auto;
	display: flex;
	box-shadow: 0px 20px 30px rgba(0,0,0,0.47);
	cursor: pointer;
	margin-bottom: 100px;}
	
.box{
	position: relative;
	height: 100%;
	flex: 1;
	background-position: left;
	background-size: cover;
	transition: .7s;
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
.box:hover{
	flex:7;
	height: 400px;
}

.i1{
	background-image: url(tiger.jpg);
	color: #fff;

}
.i2{
	background-image:url(jaguar.jpg);
	color: #fff;
}
.i3{
	background-image:url(lion.jpg);
	color: #fff;
}
.i4{
	background-image:url(leopard.jpg);
	color: #fff;
}
.i5{
	background-image:url(snowleopard.jpg);
}
p{
	font-weight: normal;
	font-family: 'Exo 2' , sans-serif;
}
.text{
	position: absolute;
	bottom:0;
	opacity: 0;
	padding: 10px;
}
.box:hover .text{
	opacity: 1;
}
h1{
	width: 250px;
	text-align: center;
	margin: 75px auto 20px auto;
	color: #ccff33;

}
@media screen and (max-width: 800px){
	body{
		margin: 0;
	}
	.cats{
		flex-direction: column;
		height: 700px;
		box-shadow: none;

	}
	.box{
		box-shadow: none;
	}
	.box:hover{
		flex: 7;
	}
}