.body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; 

}
.container{
	position: relative;
	overflow: hidden;
	--width:800px;
	--height: 400px;
	width: var(--width);
	height: var(--height);
	}
	.img{
	position: absolute;
    height: 100%;
    background: url("art.jpg");
    background-size: var(--width) var(--height);
	}
	.img:first-child{
		right: 0;
		width: 100%;
		background-position: center left; 
	}
	.img:last-child{
		right:0;
		width: calc(100% - var(--x,50%));
        background-position: center right;
        filter: grayscale(100%);
        box-shadow: inset 2px 0 0 #111, -2px 0 0 #111;

	}
