body{
	margin:0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
.wrapper{
	width: 100%;
	min-height: 100px;
	background: #262626;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	
}
.column{
	position: relative;
	width:20%;
	height: 400px;
	float: left;
	overflow: hidden;
}
.column .imgbox img{
	max-width: 100%;
	transition: 1s;
	margin-top: 40%;

}

.column:hover .imgbox img{
	transform: scale(1.5);
}
.column .details{
	position: absolute;
	top:10px;
	left: 10px;
	right:10px;
	bottom: 10px;
	background: #fff;
	text-align: center;
	transform: scale(.5);
	visibility: hidden;
	transition: .5s;
}
.column:hover .details{
	transform: scale(1);
	visibility: visible;
}
.column .details .content{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	box-sizing: border-box;
}
.column .details .content h1{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #262626;
	text-transform: uppercase;
}
.column .details .content h1 span{
	font-size: 16px;
	color: #999;
}
.column .details .content h1:before{
	content: "";
	position: absolute;
	bottom: -10px;
	width:50px;
	height: 2px;
	background:#f00;
	left:50%;
	transform: translate(-50%);
}
.column .details .content ul{
	position: relative;
	display: flex;
	padding: 0;
	width:70%;
	margin:30px auto 0;
	transform: translateY(100px);
	opacity: 0;
	transition: .5s;
}
.column:hover .details .content ul{
	transform: translateY(0px);
	opacity: 1;
}
.column .details .content ul li{
	list-style: none;
	width:25%;
	text-align: center;
}
.column .details .content ul li a{
	display: block;
	color: #262626;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 1px solid #262626;
	transition: .5s;

}
.column .details .content ul li a:hover{
	background: #f00;
	color: #fff;
	border: 1px solid #262626;
}
